.container
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.caja_reyes
{
    width: 30%;
    background-color: goldenrod;
    font-size: 2em;
    border-radius: 12px;
    border: 1px solid black;
    color: black;
    text-align: center;
    padding: 12px;
    margin: 20px;
}

img
{
    width: 100%;
}

.rojo{color:red}
.verde{color:green}

.rey
{
    color: white;
    padding: 2px 15px 20px;
    margin-bottom: 10px;
    width: 47%;
}